html,body {
    margin:0;
    padding:0;
    overflow-x: hidden;
}
img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1200px;
    width: 95%;
    margin: auto;
    padding: 0 20px;
}

.fichemetier{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    margin-bottom: 60px;
    flex-wrap: wrap-reverse;
}

.fichemetier2{
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    margin-bottom: 60px;
}

.jobDescription{
    width: auto;
}

.close{
    display: none;
}

@media (min-width:1200px){
    .container{
        padding: 0 30px;
    }

    .fichemetier{
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .fichemetier2{
        justify-content: space-between;
    }

    .jobDescription{
        width: 575px;
    }
}

.header {
    overflow: hidden;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.burger{
    display: flex;
    justify-content: flex-end;
    width: auto;
    height: 40px;
    color: #1c1c80;
    margin-top: 10px;
}

.sous{
    display: none;
}

.logo{
    width: 170px;
    height: auto;
    margin-top: 15px;
    padding-left: 0;
}




.headbutton{
    display: none;
}




@media (min-width: 900px) {
    .logo{
        padding-left: 50px;

    }

    .returnnav{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
    }

    #openBtn{
        display: none;
    }



    .headbutton{
        background-image: linear-gradient(#2fca64, #2fca64);
        background-size: 10% 0.1em;
        background-position-y: 100%;
        background-repeat: no-repeat;
        transition: background-size 0.2s ease-in-out;
        border-radius: 2px;
    }

    .headbutton:hover,
    .headbutton:focus,
    .headbutton:active {
    background-image: linear-gradient(#1c1c80, #1c1c80);
    background-size: 100% 0.1em;
    border-radius: 2px;
    }

    .headbutton{
        display: inline-flex;
        color: black;
        text-decoration: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-right: 20px;
        padding-bottom: 5px;
        font-size: 20px;
    }
    
    .burger{
        display: none;
    }

    
}






  


.bannerimage {
    filter: brightness(100%);
    width: 100%;
    background-image: url(images/banner.png);
    height: 300px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footbutton{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: white;
    text-decoration: none;
    margin: 20px;
    align-items: center;
}

.copyright{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: white;
    text-decoration: none;
    margin: 20px;
}

.infoflex{
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
}


.name {
    width: 45%;
    margin-bottom: 20px;
}


.contactpage{
    padding-top: 5px;
    background-color: #f9f9f9;
    background-size: cover;
    font-size: 15px;
    padding-bottom: 30px;
}

.cq{
    display: inline-block;
    width: auto;
    margin-right: 50px;
}

@media (max-width: 776px) {

    .sidenav {
        height: 100%;
        width: 250px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: -250px;
        background-color: #e8e8e8;
        padding-top: 60px;
        transition: left 0.5s ease;
      }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #111;
    }
      
    .sidenav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .sidenav.active {
        left: 0;
      }

    .sidenav.close {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
    }

    .burger-icon span {
        display: flex;
        width: 35px;
        height: 3px;
        background-color: black;
        margin: 6px 0;
        border-radius: 5px;
      }

    .bannerimage{
        text-align: center;
    }

    .story{
        padding-left: 15px;
    }

    .container{
        padding: 0 5px;
    }

    .infoflex{
        display: block;
    }

    .footbutton{
        font-size: 10px;
    }

    .name{
        width: 100%;
    }

    .cq{
        margin-right: 20px;
    }
}

.flex{
    display: flex;
    align-items: center;
}

.stage{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    margin: 0;
}

.stage::after{
    display: flex;
    position: relative;
    content: '';
    height: 7px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 15px;
    width: 30%;
    background: white;
}



.intropara{
    width: 500px;
    text-align: center;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 60px;
}




.section-title{
   height: fit-content;
   font-size: 25px;
}

.section-title::after{
    display: inline-block;
    position: relative;
    content: '';
    height: 5px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 10px;
    width: 10%;
    background: black;
}


#histoire{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
}


.story{
    width: 700px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    height: fit-content;
    padding: 20px 0;
}

.autor{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.quotetext{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 23px;
    width: fit-content;
    margin: 0 10px;
}

.quotetext::before{
    content: "«";
    position: relative;
    top: -20px;
    left: -15px;
    font-size: 40px;
    color: #2fca64;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.quotetext::after{
    content: "»";
    position: relative;
    top: 20px;
    left: 15px;
    font-size: 40px;
    color: #2fca64;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


@media (max-width:1000px){
    .quotetext{
        width: auto;
    }
}



@media (max-width: 750px) {
    .story{
        width: auto;
    }
}


.schema{
    width: 100%;
    height: auto;
    text-align: center;
    margin: 50px 0;
}


.box{
    width: 150px;
    height: auto;
    margin: auto 30px;
    display: inline-block;
}


.circle{
    background-color: #2fca64;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    margin-left: 15px;
}

.description{
    width: 150px;
    font-size: 10px;
    text-align: center;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.quotebox{
    display: flex;
    width: 100%;
    background-color: #1c1c80;
    height: 200px;
    background-size: cover;
    justify-content: center;
    text-align: center;
    align-items: center;
}



#metier{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: auto;
}



.jobTitle{
    margin-top: 20px;
    font-weight: lighter;
    width: 150px;
}

.jobTitle {
    background: linear-gradient(to top, #2fca64 50%, transparent 50%);
  }



.cqBox{
    height: 200px;
}





.jobImage{
    border-radius: 10px;
    width: 600px;
    height: auto;    
}

.jobImage2{
    border-radius: 5%;
    width: 600px;
    height: auto;

}


ul {
    list-style: none;
  }
  
.cqBox li::before {
    content: "\2022";
    color: #2fca64;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }

  #projets{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: auto;
}

.imgGrid{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
    justify-content: center;
}

.imgSize{
    object-fit: cover;
    width: 350px;
    height: 350px;
    margin: 15px;
    filter: brightness(80%);
    transition: all 500ms ease-out;
}

.imgSize:hover{
    filter: brightness(100%);


}


.projectbox{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projtext{
    color: white;
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    margin: 0;
}

.projtext::after{
    display: flex;
    position: relative;
    content: '';
    height: 2px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 10px;
    width: 20%;
    background: white;
}

#contact{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: 0;
}

.contactpage .section-title{
    margin: 30px 0;
}

.infoGrid{
    display: block;
    margin-bottom: 60px;
}






textarea{
    width: 95%;
    height: 150px;
    resize: none;
    border:2px;
    border-radius: 10px;
    justify-content: center;
    background-color: #fafafa;
    box-shadow:0 0 3px #1c1c80;
    transition: .3s box-shadow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



textarea:focus{
    background-color: white;
    outline: none;
}

.identifier{
    margin-bottom: 8px;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button{
    width: 200px;
    height: 50px;
    background-color: #2fca64;
    color: white;
    border-radius: 30px;
    text-align: center;
    margin-top: 40px;
    border: none;
    transition-duration: 250ms;
    transition-property: background-color;
}

.button:hover{
    background-color: #2a9650;
}

.textinput:focus{
    background-color: white;
    outline: none;
}




input{
    border: 2px;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    background-color: #fafafa;
    box-shadow:0 0 3px #1c1c80;
    transition: .3s box-shadow;
}

.send{
    padding: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer{
    background-color: #1c1c80;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}





.footbutton:hover{
    text-decoration: underline;
}